/*-----------------  CSS RESET  -------------------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  }

  img {
    max-width: 100%; /* this ensures images never break their container */
    height: auto;
  }

  body {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(120,120,125);
    margin: 2rem;
    margin-top: 5rem;
  }
  a {
    text-decoration: none;
  }

   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid] {   margin: 0;  }
  [class*=col]  {   padding: 0; }


  /* ------------- Utility Classes --------------  */

  .box      {
    /* border: 1px solid grey; */
    width:  150px;
    height: 150px;
  }
  .blogpost-box {
    width:  300px;
    font-weight: lighter;
  }

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }

  .padded   {  padding: 3% 5% 3% 3%;    }
  .padded-1 {  padding: 1rem;  }
  .padded-2 {  padding: 2rem 0rem;  } /*-- nur oben u unten, links und rechts auf line --*/
  .padded-3 {  padding: 3rem;  }
  .padded-right { padding: 3.5rem 3rem 1rem 1rem; } /*-- nur rechts --*/
  .padded-destinations { padding: 5% 1%;}

 .negative-margin { margin-top: -3rem;
   background-color: white; }

 .negative-margin-1 { margin-top: -1rem;}
 .margin-top { margin-top: 2rem;}

  .bg-image {
    background-image: url('#');
    background-size: cover;
    background-position: center;
  }

 .bg-image-square {
  min-height: 150px;
}

  .box  {
  background-color: white;
  max-width: 30%;

  /* horizontally center */
  margin: 1rem auto;
  }

 .box > .bg-image {
  width: 100%;
  }

 .box > span {
  display: block;

  /* pad around text */
  padding: 0.5rem 1rem;
  }

 .square {
  /*  any set width  */
  width: 100%;
  }

 .square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  /* Relies on https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
  }
 section.countries .bg-image {
     padding: 0rem;
     height: 400px;
     border-radius: 2px;

   }

 section.countries .box {
   max-width: 90%;
   width:auto;
   height: auto;
   background-position: cover;
   border-radius: 2px;
   box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
 }

  .capped-width { width: 80%; margin: auto;}

  .tall-50  {  min-height: 50vh;   }
  .tall-100 {  min-height: 100vh;  }

  .dark-bg      {  background-color: #3e432e; color: #f7f1e3;  }
  .light-bg     {  background-color: rgb(241, 242, 246);  color: rgb(120,120,125)}
  .featured-bg  {  background-color: #3e432e; color: rgb(241, 242, 246); margin: 2% 5%;    }

  .truncate { overflow: hidden; text-overflow: ellipsis; max-height: 12rem; }

  .light-text   { color: white; }
  .flex-flip:nth-child(2n){  flex-direction: row-reverse; }

  /* ------------ General typography --------------*/

  #maed-logo {
  font-family: 'Martel', sans-serif;
  font-weight:200;
  letter-spacing: 4px;
  font-size: 2rem;
  }

  #footer-typography {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;

  }

  h2, h3  {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
  }
  h4, h5, h6, a, p, input, textarea {
    line-height: 1;
    margin-bottom: 0.8rem;
    font-family: 'Roboto Condensed', serif;
  }


  h2  { font-size: 2.2rem; margin-bottom: 2rem; }
  h3  { font-size: 2.0rem; margin-bottom: 1.5rem; }
  h4  { font-size: 1.2rem;  font-weight: lighter;}
  h5  { font-size: 0.8rem;  }
  p   { font-size: 1rem; line-height: 2rem; }

  p, ul {
     margin-bottom: 0.8rem;
  }

  /* .small p { line-height: 0.5rem; text-decoration: none; text-align:justify;} */

  .blogpost-box span {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:300;
    letter-spacing: 4px;
    font-size: 1.5rem;
  }

  .countries a {
    text-decoration: none;
    color:inherit;
  }

  .text-in-box a {
    ext-decoration: none;
    color:inherit;
  }

  /* this makes sure that the last element in any container doesn't have margin-bottom */
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child { margin-bottom:0;
  }

  /* ------- unique typography styles - adjust to suit your styles  --------- */

.not-bold   { font-weight: normal; } /* add this class to make headings not bold */
.no-bullets { list-style:none; } /* Used to remove dot-points from a list */

  /* ---------------  Button Styles  --------- */

.button,
.button-solid,
.button-inverted {
  text-decoration: none;
  color: #444c38;
  border: 1px solid;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.button:hover {
  color: #aab6a2;
}

.button.inverted {   /* this is for a button on a dark background */
  border: 2px solid white;
  color: white;
}

.button.inverted:hover {
  color: #e67e22;
  border-color: #e67e22;
}

.button-solid {
  background-color: #e67e22;
  border-color: #e67e22;
  color: white;
}

.button-solid:hover {
  background-color: rgb(60, 60, 60);
  border-color: rgb(60, 60, 60);
}

.button-icons {
  text-decoration: none;
  color: #444c38;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  font-size: 2rem;
}

.button-icons:hover {
  color: #aab6a2;
}


.latest-blogpost:hover {
  opacity: 0.5;
}



/*-------------- Headers and footers ---------------*/

header {
  padding: 2% 5%;
}

footer {
  padding-top: 5rem;
}

header a,
footer a,
nav a {
  text-decoration: none;
  color: inherit;
}


/* ---------------Fixed Header Option ---------------*/

header.fixed {
  position: fixed;
  background-color: white;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  margin:0;
  padding: 1%;
  text-align: center;
}
.bump-for-header {
  min-height: 1rem;
}

/* ----------------- Footer -------------------- */

footer .info {
  padding-right: 3rem;
}

footer nav a {
  display:block;
}

footer h3 {
  font-size: 1.2rem;
}


  /* --------------- BANNERS ------------------*/
.banner {
  background-image: url('images/IMG_1251-3.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.fixed {
  background-attachment: fixed;
}

.absolute-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: none;
}

img.clickable-box.bg-image {
height: 100%;
}

  /* --------------- POPUPGALLERY------------------*/

.popup-gallery .bg-image { min-height: 120px; }

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {

  .mob-hide {
    display: none;
  }



  /* end media query */
