---
layout: default
---


<!-- this section is an example of how we output the travel posts -->
<section class="padded countries">
  <h1 class="centered"> Latest {{page.title}} </h1>

  <div class="grid padded">

    {% for item in paginator.posts %}

    <a href="{{item.url}}" class="col-4_sm-12 blogpost-box">
    <div class="box">
      <div class="bg-image" style="background-image: url('{{ item.image-path }}')"></div>
      <div class="padded blogpost-box">
        <p>{{ item.title }}</p>
        <p>{{ item.date  | date_to_long_string  }}</p>
      </div>
    </div>
    </a>

    {% endfor %}
  </div>




  {% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</section>
