---
layout: default
---


<!-- this section is an example of how we output the travel posts -->
<section class="padded">
  <h1 class="centered"> Latest {{page.title}} </h1>

  <section class="grid padded">

    {% for item in paginator.posts %}
    <a href="#" class="col-6 blogpost-box grid">
      <div class="col-4 padded bg-image">
        <p> NO. 1 </p>
        <div class="bg-image bg-image-square" style="background-image: url('{{ item.image-path }}')"></div>
      </div>

      <div class="col-8 padded-right">
        <p id="countries-center">{{ item.title }}</p>
        <p class="small"> {{item.excerpt | truncate: 300 }} </p>
      </div>
    </a>
    {% endfor %}
  </section>


  <!-- <section class="grid padded">

    {% for item in paginator.posts %}
    <a href="#" class="col-6 blogpost-box grid">
      <div class="col-4 padded bg-image">
        <p id="countries-center">{{ item.title }}</p>
        <div class="bg-image bg-image-square" style="background-image: url('{{ item.image-path }}')"></div>
      </div>

      <div class="col-8 padded-right">
        <p class="small"> {{page.latest-blogpost | truncate: 300 }} </p>
      </div>
    </a>

    <a href="#" class="col-6 blogpost-box grid">
      <div class="col-4 padded bg-image">
        <p> NO. 1 </p>
        <img src="http://www.instituteofcode.com/houdini.jpg" alt="">
      </div>

      <div class="col-8 padded-right">
        <p class="small"> {{page.latest-blogpost | truncate: 300 }} </p>
      </div>
    </a>
    {% endfor %}
  </section> -->


  {% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</section>
