---
layout: default
title: MAED
---
<!-- - - - - - - BLOGPOST  - - - - - - - -  -->
<section class="grid padded">
  <div class="col-12">
    <h3> The perfect itinerary </h3>
  </div>
  <div class="col-12 padded-3 mob-hide">

  </div>

  <div class="col-3">
  </div>

  <div class="col-9 grid padded-1">
    <div class="col-12 grid">
      <h3 class="padded-1">Day 1</h3>
    </div>
      <div class="col-5 padded-1">
        <img src="/images/IMG_1251-3.jpg" alt="">
      </div>
      <div class="col-7 padded-1">
        {{content | truncate: 200}}
      </div>
    </div>

  <div class="col-3">
  </div>

  <div class="col-9 grid padded-1">
    <div class="col-12 grid">
      <h3 class="padded-1">Day 2</h3>
    </div>
      <div class="col-5 padded-1">
        <img src="/images/IMG_1251-3.jpg" alt="">
      </div>
      <div class="col-7 padded-1">
        {{content | truncate: 200}}
      </div>
    </div>

  <div class="col-3">
  </div>

  <div class="col-9 grid padded-1">
    <div class="col-12 grid">
      <h3 class="padded-1">Day 3</h3>
    </div>
      <div class="col-5 padded-1">
        <img src="/images/IMG_1251-3.jpg" alt="">
      </div>
      <div class="col-7 padded-1">
        {{content | truncate: 200}}
      </div>
    </div>
</section>
